@media screen and (max-width: 960px){

    main{
        display: block;
        text-align: center;
    }

    .txt-content{
        max-width: 700px;
        text-align: center;

    }

    .img-main{
        width: 400px;
        height: 400px;
        margin: 20px 5px 5px 5px;
    }

@media screen and (max-width: 640px){

    header{
        justify-content: center;
    }

    .logo, a{
        display: none;
    }

    .img-main{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 400px){

    .txt-content{
        display: none;
    }

    .img-main{
        width: 200px;
        height: 200px;
    }
}

}